{{ define "main" }}
<section>
  <div class="terminal-card">
    <header>{{ .Title }} ({{ .Params.Time }})</header>
    <div class="image-grid">
      {{ with .Params.featured_image }}
      <a href="{{ . }}">
        <img
        src="{{ . }}"
        height="256px"
        alt="{{ . }}"
        />
    </a>
      <hr />
      {{ else }}
      <br>
      {{ end }}
      <center>
        {{ .Summary }}
        <br><br>
        {{ range .Params.Tags }}
        <a class="tag" href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </center>
      <hr />
      {{ .Content }}
    </div>
  </div>
</section>

<br>
{{ end }}